<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
    <title>Velocity Test</title>
</head>
<body>
#macro(author $text $link $target)
<a href="$link" #if($target) target="_blank" #end>$text</a>
#end
<header>
#parse("header.vm")
<p>$brief</p>
<dl>
  <dt>特点：</dt>
  #foreach($feature in $features)
    <dd>${foreach.count}. $feature</dd>
  #end
</dl>
</header>
<section>
<h2>$doc.title</h2>
<p><a href="$doc.link">$doc.text</a></p>
</section>
<section>
<h2>语法说明</h2>
<p>
支持velocity所有语法解析，不过鉴于web浏览器的限制，velocity的
<a href="http://velocity.apache.org/engine/devel/user-guide.html#Directives">
Directives</a>
只支持几种<code>set, foreach, if, elseif, macro, parse</code>，所有相关的逻辑
运算都支持。
</p>
<h3>foreach</h3>
<p>对于foreach，velocity和javascript对象读取有差距，为了兼容velocity语法，所以暂
时采用和velocity一致的语法，对对象进行foreach的时候需要使用
<code>$obj.keyset()</code> 然后使用get取值。推荐foreach对数组进行操作，那样行为
是一致。</p>
</section>
<footer>
</footer>

</body>
</html>